<h3>Welcome to the Blackjack game!</h3>
<h3>Please enter your name:</h3>
<form action="/get_name" method="post">
  <input type="text" name="username" />
  </br>
  <input type="submit" value="Submit" class="btn"/>
</form>
